/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

pre code[class]:after {
  content: 'highlight: ' attr(class);
  display: block; text-align: right;
  font-size: smaller;
  border-top: solid 1px;
  padding-top: 0.5em;
}


*/

pre code,
pre .xml .title {
    color: #EEE;
}

pre .string,
pre .title,
pre .constant,
pre .parent,
pre .rules .value,
pre .rules .value .number,
pre .preprocessor,
pre .instancevar,
pre .aggregate,
pre .template_tag,
pre .addition,
pre .flow,
pre .stream,
pre .bash .variable {
  color: #E20074;
}
pre .tag .attribute .value,
pre .pi {
  color: steelblue;
}

pre .comment,
pre .annotation,
pre .template_comment {
  color: #888;
}

pre .number,
pre .date,
pre .regexp,
pre .literal,
pre .change {
  color: #080;
}

pre .label,
pre .decorator,
pre .filter .argument,
pre .localvars,
pre .array,
pre .attr_selector,
pre .important,
pre .pseudo,
pre .doctype,
pre .deletion,
pre .envvar,
pre .shebang {
  color: blue;
}

pre .phpdoc {
  font-weight: bold;
}

pre .keyword,
pre .id,
pre .phpdoc,
pre .title,
pre .built_in,
pre .aggregate,
pre .bash .variable {
  font-weight: bold;
}

pre .keyword {
  color: YellowGreen;
}


pre .html .css,
pre .html .javascript,
pre .html .vbscript {
  opacity: 0.5;
}  
pre .tag,
pre .tag .title {
  color: #aaa;
}
pre .html .php {
    color: green;
  }
